/* body */
body{
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(img/floor.png);
    padding-top: 30px;
}

/* Navbar */


/* heading */
.jumbotron {
    background-color: rgb(187, 187, 187); 
    height: 200px;
    width: 100%;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.btn-group {
    width: 80px;
    height: 40px;
}
.profil {
    float: left; 
    margin: 30px;
    margin-right: 0px;
    width: 10%;
}
.data-1 {
    float: left; 
    margin: 30px; 
    margin-right: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.biodata {
    float: left; 
    margin: 35px;
    margin-left: 0px; 
    margin-right: 0px;
    line-height: 12px;
}
.biodata-isi {
    float: left;
    margin: 35px; 
    line-height: 12px;
}


/* form */
.container-form {
    background-color: rgb(237, 239, 239);
}
#form {
    line-height: 25px; 
    margin-top: 10px;
}
