body{
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(img/floor.png);
    padding-top: 30px;
}

.jumbotron {
    background-color: rgb(187, 187, 187); 
    height: 170px;
    width: 100%;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #aaaaaa;
}

section {
    min-height: 420px;
}

.container-form {
    background-color: rgb(237, 239, 239);
}

.btn-group {
    width: 80px;
    height: 40px;
}